* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  border: 0;
}

.log {
  margin: 0;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

label {
  padding-right: 10px;
}

input {
  height: 25px;
  width: 200px;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
}
